.app-h1 {
    color: #00396C;
    font-family: sans-serif;
    font-size: 51.94px;
    font-weight: bold;
    text-align: center;
}

body {
    background-color: #D9F6FA;
}

.world-clock-container{
    padding:20px;
    
}