/* Container for the events list */
.events-container {
    max-width: auto;
    margin: right;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Input field for adding new events */
  .events-input {
    width: auto;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    font-size: 16px;
    outline: none;
  }
  
  /* Styling for the list of events */
  .events-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
  }
  
  /* Styling for individual events */
  .events-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Checkbox for marking completed events */
  .events-item-input[type="checkbox"] {
    margin-right: 10px;
  }
  
  /* Styling for the text of the events */
  .events-item-label {
    flex-grow: 1;
    word-break: break-all;
    font-size: 16px;
  }
  
  /* Styling for the delete button */
  .events-item-button {
    background-color: #00396C;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .events-h1 { 
    color: #00396C;
    font-family: sans-serif;
    font-size: 46.17px; 
    font-weight: bold; 
    line-height: 48px; 
    margin: 2; 
  }

  .event-link { 
    color: #00396C;
    font-family: sans-serif;
    font-size: 28.83px; 
    font-weight: bold; 
    line-height: 48px; 
    margin: 2; 
    padding: 5px 10px;
  }
  